@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

header{
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    position:center right;
}
header div{
    padding: 316px 230px 364px 845px;
    color: #FFF;
    text-align: right;
    font-weight: 700;
}
header h2{
    font-size: 65px;
    margin: 0px;
}
header p{
    padding-top: 24px;
    padding-bottom: 32px;
    margin: 0px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.btn-primary{
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    background: #FFF;
    border-style: none;
}